{% extends 'movieApp/layout/base.html' %}
{% block css %}
  {% include 'movieApp/layout/assets/css.html' %}
{% endblock %}
{% block header %}
  {% include 'movieApp/layout/header/main.html' %}
{% endblock %}
{% block content %}
<div class = 'col-sm-6 col-sm-offset-3'>
	<main class="main-content">
	<div class="container">
		<div class="page">
			<div class="row">
   				{% include 'movieApp/layout/content/form_info.html' %}
   			</div>
		</div>
	</div>
	</main>
</div>
{% endblock %}
{% block javascript %}
	{% include 'movieApp/layout/assets/js.html' %}
{% endblock %}