{% extends 'movieApp/layout/base.html' %}
{% block css %}
  {% include 'movieApp/layout/assets/css.html' %}
{% endblock %}
{% block header %}
  {% include 'movieApp/layout/header/main.html' %}
{% endblock %}
{% block content %}
 	{% if template_type == 'main' %}
  		{% include 'movieApp/layout/content/main.html' %}
  	{% else %}
  		{% include 'movieApp/layout/content/movie.html' %}
  	{% endif %}
{% endblock %}
{% block javascript %}
	{% include 'movieApp/layout/assets/js.html' %}
{% endblock %}