{% if view == "mainView" %}
  {% for movie in movie_list %}
    <li><a href="#"><img src= "{{ movie.image_url}}" alt="Slide 1"></a></li>
  {% endfor %}
{% else %}
  {% for movie in movie_list %}
    <div class="movie-list" id="review_list">
      <div class="movie">
      <figure class="movie-poster"><img src="{{ movie.image_url}}" alt="#"></figure>
      <div class="movie-title"><a href="{{ movie.link_url }}">{{ movie.name }}</a></div>
       <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
      </div>
    </div>
  {% endfor %}
{% endif %}

{% if is_paginated  %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}